---
import heroBackgroundVideo from "../../../images/hero-background-video.mp4";
import heroBackgroundVideoPoster from "../../../images/hero-background-video-poster.jpg";
import SellingDebrecenLogo from "../../../images/selling-debrecen-logo.svg";
import Header from "./Header.astro";
---

<style>
  @media (width >= 40rem) {
    .push-to-the-right {
      translate: calc(20rem - 100% - var(--spacing) * 4) 0;
    }
  }

  @media (width >= 48rem) {
    .push-to-the-right {
      translate: calc(24rem - 100% - var(--spacing) * 4) 0;
    }
  }

  @media (width >= 64rem) {
    .push-to-the-right {
      translate: calc(32rem - 100% - var(--spacing) * 4) 0;
    }
  }

  @media (width >= 80rem) {
    .push-to-the-right {
      translate: calc(40rem - 100% - var(--spacing) * 4) 0;
    }
  }

  @media (width >= 96rem) {
    .push-to-the-right {
      translate: calc(48rem - 100% - var(--spacing) * 4) 0;
    }
  }
</style>

<section
  id="hero-section"
  class="relative flex flex-col min-h-screen overflow-hidden"
>
  <!-- Background Video -->
  <video
    autoplay
    muted
    loop
    playsinline
    poster={heroBackgroundVideoPoster.src}
    class="absolute inset-0 w-full h-full object-cover z-0"
    aria-hidden="true"
  >
    <source src={heroBackgroundVideo} type="video/mp4" />
  </video>

  <div class="relative flex-1 flex items-center ps-10 md:ps-20">
    <div class="absolute inset-0 bg-cream/80 z-0"></div>
    <div class="relative z-10 md:px-4">
      <div class="w-full flex items-center gap-6">
        <SellingDebrecenLogo class="h-34 md:h-34 text-navy" />
        <hgroup>
          <h1
            class="font-didone italic text-5xl md:text-8xl text-navy tracking-tight"
          >
            Selling Debrecen
          </h1>
          <p
            class="font-old-style font-lighter text-xl md:text-3xl text-navy/90"
          >
            Prémium ingatlanok Hajdú-Bihar megyében
          </p>
        </hgroup>
      </div>
    </div>
  </div>

  <Header />
</section>
