---
import BaseLayout from "./BaseLayout.astro";
import { Header, Footer } from "../components/common";

interface Props {
  title: string;
  description: string;
}

const { title, description, ...props } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <Header />

  <main {...props}>
    <slot />
  </main>

  <Footer />
</BaseLayout>
