---
import "../styles/global.css";
import { Head, Header, Footer } from "../components/common";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;

const lang = Astro.currentLocale ?? "hu";
---

<!doctype html>
<html lang={lang} class="scroll-smooth">
  <Head title={title} description={description} />
  <body class="min-h-screen">
    <Header />

    <main>
      <slot />
    </main>

    <Footer />
  </body>
</html>
